*/venv/*
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info
dist
build
develop-eggs
downloads
eggs
.eggs
parts
bin
var
sdist
lib
include
share
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.pytest_cache
.mypy_cache
dmypy.json
dmypy.json
mypy.ini
.venv
.venv3
.env
.env3
.env.bak
.env3.bak
.envrc
.envrc.bak
.pipenv
.vscode
.idea
*/so-vits-svc
*/so_vits_svc
*/src/models/*
*/src/hf_vul_models/*
*/src/so_vits_svc/*
*/models
*/src/so_vits_svc
*/src/hf_vul_models